/*mobile, pc 공통 */

/*공지사항 리스트*/
    .table-responsive{
      overflow-x: hidden;
    }
    .notice-container{
      margin-top:50px;
    }
    .notice-margin{
      margin-top:70px;
    }
    div.table-wrapper{
       padding:0px;
    }
    table{
      width:100%;
      height:100%;
      padding:5px;
    }
    table a {
      color:#000000;
    }
    table a:hover, table a:active{
      text-decoration:none;
      color:#ffa291;
    }
   
    .btn.btn-black{
      width:60px;
      height:30px;
      font-size:13px;
      text-align:center;
      float:right;
      cursor:pointer;
      color:#ffffff;
      background:#333333;
    }
    .btn.btn-black:hover{
      color:#ffffff;
    }
   

/*공지사항 글 view */
  .btn_black{
    display:inline-block;
    line-height: 30px;
    width:100px;
    height:30px;
    font-size:13px;
    font-weight:bold;
    text-align:center;
    color:black;
    background-color:#ffffff;
    border:2px solid black;

  }
  .btn_black:hover, .btn_black:active{
    text-decoration:none;
    color:#ffa291;
    border:2px solid #ffa291;
  }


  thead th{
    text-align: center;
  }

  .notice_content{
    border-top:2px solid #e4e4e4;
    padding:10px;
    text-align:initial;
   /* word-break:break-all;
    white-space: pre-line;*/

  }
  .notice_buttons{
    text-align: center;
    padding-bottom:10px;
    border-bottom:2px solid #e4e4e4;

  }
  .notice_updown, .notice_updown>a{
    font-size: 13px;
    color:black;
    display: inline-block;
    margin-top:5px;
    margin-bottom:5px;
  }

  .notice_updown>a:hover{
    text-decoration: none;
    color:#ffa291;
  }
  
  /*제품 재진단 요청*/
  .btn-feedback {
    height:50px;
    width:100px;
    padding:10px;
    line-height:30px;
    color:black;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    background:#ffffff;
    border:2px solid black;
    display:block;
    float:left;
  }
  .btn-feedback:hover{
    color:#ffa291;
    background-color: #ffffff;
    border:2px solid #ffa291;
    text-decoration:none;
  }
  .page_title{
    text-align: center;
    margin-bottom: 20px;
  }
  .page_title hr{border: solid 1px;color:#333333;}
  
/*공지사항 페이지 전체 PC 버전*/

  @media screen and (min-width:768px){
    .notice-container{margin-top:100px;}  
  }




/*===문의/건의 게시판===*/

/*제품요청 게시판 시작 */
      /*.askfor_reqeust_tab{*/
      /*       text-align:right;*/
      /*     }  */
      /*.askfor_reqeust_tab>a{*/
      /*  display:inline-block;*/
      /*  color:gray;*/
      /*  text-decoration:none;*/
      /*  font-weight:bold;*/
      /*  padding:5px 5px 0px 5px;*/
      /*  border-top:1px solid gray;*/
      /*  border-left:1px solid gray;*/
      /*  border-right:1px solid gray;*/
      /*}*/
    
      /*.askfor_reqeust_tab>a:hover{*/
      /*  color:gray;*/
      /*  text-decoration:none;*/
      /*} */
      /*.askfor_reqeust_tab:first-child:hover{*/
      /*  color:#ffaaa3;*/
      /*}*/

    /*.askfor-brand{*/
    /*  width:30%;*/
    /*}*/
    /*.askfor-name{*/
    /*  width:45%;*/
    /*}*/
    /*.btn-askfor{*/
    /*  display:inline-block;*/
    /*  margin-left:5px;*/
    /*  height:35px;*/
    /*  width:17%;*/
    /*  color:#ffffff;*/
    /*  background-color:#ffaaa3;*/
    /*}*/
/*제품요청 게시판 끝 */  

/*문의/건의 작성 페이지*/

  .img_thumbnail{
     display:block;
     width:80%;
     margin:0 auto;
  }
/*문의/건의 읽기 페이지*/
  .img_request {
     display:block;
     width:80%;
     margin:0 auto;
   }
/*문의/건의 수정페이지*/
    