<center>
    <div style="margin-top:20px; margin-left:-35px" class="col-lg-12 col-md-12 col-xs-12" id="about-img">
        <img src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/about/0910about.jpg" class="about">
    </div>

   <div style="margin-top:20px; margin-left:-35px" class="col-lg-12 col-md-12 col-xs-12" id="about-img2">
        <img src="https://s3.ap-northeast-2.amazonaws.com/fourseasons111112/about/0910about.jpg" class="about2">
        <!--모바일버전 사진 불러오기-->
    </div>
</center>