
    <div style="margin-top:20px; margin-left:-35px" class="col-lg-12 col-md-12 col-xs-12" id="about-img">
        <img src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/banner/0910about.jpg" class="about">
    </div>

   <div style="margin-top:20px; margin-left:-35px" class="col-lg-12 col-md-12 col-xs-12" id="about-img2">
        <img src="https://s3.ap-northeast-2.amazonaws.com/palette160829111/banner/0910about.jpg" class="about2">
    </div>
