<div class="container-fluid notice-margin">
  
 
    <form action="/home/notice_write" method="post">
   
      <div class="form-group">
        <label for="exampleInputEmail1">작성자</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="name" value="관리자">
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1">제목</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="title">
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name="special" id="special" value="Y">&nbsp;공지 띄우기
        </label>
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1">내용</label>
          <textarea class="form-control ckeditor" rows="10" id="comment" name="content"></textarea> 
      </div>
      
      <button type="submit" class="btn btn-default">등록</button>

   </form>
   

</div>

<script>
  CKEDITOR.replace('comment')
  
</script>


