<!DOCTYPE html>
  <div id="all">
    <div id="content">
      <div class="container">
      <br><br>
        <div class="col-md-9" id="basket">
          <div class="box">
            <form method="post" action="checkout1.html">
            <h1>찜한 상품 보기</h1>
            <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>쳌박</th>
                  <th>상품사진</th>
                  <th>상품명</th>
                  <th>가격</th>
                  <th>컬러톤</th>
                  <th>관리(삭제버튼)</th>
                </tr>
              </thead>
              <tbody> <!-- 찜제품목록 -->
                <tr>
                  <td>쳌</td>
                  <td><a href="#"><img src="img/detailsquare.jpg" alt="글도넣을수있따"></a></td>
                  <td><a href="#">아이스아메리카노</a></td>
                  <td>5555555555원</td>
                  <td>쿨/라이트</td>
                  <td>삭제하기</td>
                  <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
                </tr>
                
                <tr>
                  <td>쳌</td>
                  <td><a href="#"><img src="img/basketsquare.jpg" alt="이거슨사진이다"></a></td>
                  <td><a href="#">[이니스프리] 아이젤 라이너</a></td>
                  <td>14,000원</td>
                  <td>쿨/페일</td>
                  <td>삭제하기</td>
                  <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
                </tr>
              </tbody>
            </table>
            </div>
            </form>
         </div>
                   

