<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
            <div class="carousel-caption">
                <h2>배너1</h2>
            </div>
        </div>
        
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
                <h2>배너2</h2>
            </div>
        </div>
        
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
                <h2>배너3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

<!-- 
    <!-- Portfolio Section!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 여기부터 수정했씀!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">웜 타입 베스트 립</h2>
        </div>
        <div class="col-xs-6 col-sm-4" > 
          <form action="/write" method="POST" enctype="multipart/form-data">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="/images/capture.png" alt="" width="300" height="280" >
            </a>
            <h3>
                <a href="#">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
        
        <!-- 여기까지 수정!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="/images/rightbutton.jpg" alt="" width="300" height="280">
            </a>
            <h3>
                <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="" width="300" height="280">
            </a>
            <h3>
                <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
    </div>
       
       
   <div class="row">
       <div class="col-lg-12">
            <h2 class="page-header">웜 타입 베스트 섀도우</h2>
        </div>
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
            <h3>
                <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
            <h3>
                <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
            <h3>
                <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
    </div>
    
    
    
   <div class="row">
       <div class="col-lg-12">
            <h2 class="page-header">쿨 타입 베스트 립</h2>
        </div>
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
            <h3>
                <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
            <h3>
                <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
            <h3>
                <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
        
        <div class="col-lg-12">
            <h2 class="page-header">쿨 타입 베스트 섀도우</h2>
        </div>
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
            <h3>
                <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
            <h3>
                <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
        
        <div class="col-xs-6 col-sm-4">
            <a href="/home/layout5">
                <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
            </a>
            <h3>
            <a href="/home/layout5">[이니스프리] 크리미 립틴트</a>
            </h3>
            <p>70ml / 7,000원</p>
            <p> 쿨 / 페일</p>
        </div>
    </div><!-- /.row -->

    <hr>
</div><!-- /.container -->


<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>



