 
 <!-- 제품,세부톤 선택 버튼 -->
 <hr style="border: solid 0.2px lightgray;">
    <div class="container"> 
        <div class="row" style="margin-top:30px; text-align:center">
            
               <!-- 제품선택버튼 -->
                <div class="btn-group col-md-3 col-md-offset-3 col-xs-6" >
                  <button type="button" class="btn btn-default dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    제품 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" style="width:100%">
                    <li><a href="#">전체보기</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">립스틱</a></li>
                    <li><a href="#">립틴트</a></li>
                    <li><a href="#">립글로즈</a></li>
                  </ul>
                </div>
                      
                <!-- 세부톤선택버튼 -->
                <div class="btn-group col-md-3 col-xs-6" >
                  <button type="button" class="btn btn-default dropdown-toggle" style="width:100%"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    세부톤 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" style="width:100%">
                    <li><a href="#">비비드</a></li>
                    <li><a href="#">브라이트</a></li>
                    <li><a href="#">스트롱</a></li>
                    <li><a href="#">딥</a></li>
                    <li><a href="#">라이트</a></li>
                    <li><a href="#">소프트</a></li>
                    <li><a href="#">덜</a></li>
                    <li><a href="#">다크</a></li>
                    <li><a href="#">페일</a></li>
                    <li><a href="#">라이트그레이쉬</a></li>
                    <li><a href="#">그레이쉬</a></li>
                    <li><a href="#">다크그레이쉬</a></li>
                    <li><a href="#">무채색</a></li>
                  </ul>
                </div>
                
        </div>        
    </div>
    
    <hr style="border: solid 0.2px lightgray;"> <!--가로선-->
    
    
<!-- 상세페이지 -->
    
    <div class="container">

      
        <!-- /.row -->
        <div style = "margin-top:50px">
        <!-- Portfolio Item Row -->
            <div class="row">
    
                <div class="col-md-5 col-md-offset-1 col-xs-12" >
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    
    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active "  style="float:center">
                                <img class="img1" src="/images/lip.png">
                            </div>
    
                        </div>
    
                        <!-- Controls -->
    
                    </div>
                </div>
    
                <div class="col-md-6 col-xs-12"  style="text-align:left" id="orange">
                    <h3>[브랜드] 제품명</h3><br>
                    <h4>용량 / 가격</h4><br>
    
                    <!-- 좋아요버튼 BEGIN
                    <span class="likebtn-wrapper" data-theme="custom" data-btn_size="45" data-f_size="20" data-icon_l="hrt2" data-icon_size="36" data-icon_l_c="#e81339"  data-f_family="Arial Black" data-i18n_like="  찜하기" data-identifier="item_1" data-dislike_enabled="false"></span>
                    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
                    --> 
                    
                    <hr style="border:solid 1px lightgray;">
                        <div>
                            <div class="col-md-6">
                                <h4> <strong>톤</strong>  페일</h4><br>
                                <img class="p hidden-xs" src="/images/p.png">
                            </div>
                            <div class="col-md-6">
                                <h4> <strong>타입</strong>  쿨</h4><br>
                                <img class="c hidden-xs" src="/images/c.png">
                                
                            </div>
                        </div>
                </div>
                
    
            </div>
        </div>
        <!-- /.row -->
        
        <br> 
        <hr style="border: solid 0.2px lightgray;"> <!--가로선-->
        <br>
        
        <!-- 제품군, 펄유무, 텍스쳐-->
        <span class="glyphicon glyphicon-tags col-md-4 col-xs-4" aria-hidden="true" style="font-size:17px; text-align:center;"> 제품군</span>
        <span class="glyphicon glyphicon-tag col-md-4 col-xs-4" aria-hidden="true" style="font-size:17px; text-align:center;"> 펄유무</span>
        <span class="glyphicon glyphicon-refresh col-md-4 col-xs-4" aria-hidden="true" style="font-size:17px; text-align:center;"> 텍스처</span>
        
        <!-- 수정요청 버튼 들어갈 부분 -->
        
        
        <!-- Related Projects Row -->
        
        
        <br>
        <br>

      
    </div>
    <!-- /.container -->

   