
    <hr style="border: solid 0.2px gray;">
    <div class="container"> 
        <div class="row" style="margin-top:30px; text-align:center">
            
               <!-- 제품선택버튼 -->
                <div class="btn-group col-md-3 col-md-offset-3 col-xs-6" >
                  <button type="button" class="btn btn-default dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    제품 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" style="width:100%">
                    <li><a href="#">전체보기</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">립스틱</a></li>
                    <li><a href="#">립틴트</a></li>
                    <li><a href="#">립글로즈</a></li>
                  </ul>
                </div>
                      
                <!-- 세부톤선택버튼 -->
                <div class="btn-group col-md-3 col-xs-6" >
                  <button type="button" class="btn btn-default dropdown-toggle" style="width:100%"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    세부톤 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" style="width:100%">
                    <li><a href="#">비비드</a></li>
                    <li><a href="#">브라이트</a></li>
                    <li><a href="#">스트롱</a></li>
                    <li><a href="#">딥</a></li>
                    <li><a href="#">라이트</a></li>
                    <li><a href="#">소프트</a></li>
                    <li><a href="#">덜</a></li>
                    <li><a href="#">다크</a></li>
                    <li><a href="#">페일</a></li>
                    <li><a href="#">라이트그레이쉬</a></li>
                    <li><a href="#">그레이쉬</a></li>
                    <li><a href="#">다크그레이쉬</a></li>
                    <li><a href="#">무채색</a></li>
                  </ul>
                </div>
                
        </div>        
    </div>
        
        
        <!-- Projects Row -->
        <div class="row" style="margin-top:40px">
            <div class="col-md-4 img-portfolio">
                <a href="layout5">
                    <img class="example" align="center" src="/images/lip.png" alt="" style="width: 200px; height: auto">
                </a>
                <h3>
                    <a href="layout5">[이니스프리] 크리미 립틴트</a>
                </h3>
                <p>70ml / 7,000원</p>
                <p> 쿨 / 페일</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="layout5">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Name</a>
                </h3>
                <p>얼마게?</p>
                <p>안알랴줌</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Name</a>
                </h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Name</a>
                </h3>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Name</a>
                </h3>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Name</a>
                </h3>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Name</a>
                </h3>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Name</a>
                </h3>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="portfolio-item.html">Project Name</a>
                </h3>
            </div>
        </div>
        <!-- /.row -->


        <hr>

       
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
 