<div class="container">
    <h3>문의/건의 수정하기</h3>
    <p>업데이트 되었으면 하는 제품, 개선되었으면 하는 점 등 자유로운 의견을 남겨주세요. </p>
    <form action="/home/request_update_ok/<%= @one_request.id %>" method="post">
      <div class="form-group">
        <label for="exampleInputTitle">제목</label>
        <input type="text" name="title" class="form-control" id="exampleInputTitle" value="<%= @one_request.title %>">
      </div>
      <div class="form-group">
            <label for="exampleInputContent">내용</label>
            <textarea name="content" class="form-control" rows="3"><%= @one_request.content %></textarea>
       </div>
      <button type="submit" class="btn btn-default">수정</button>
      <a href="/home/request_view/<%= @one_request.id %>" id="btnCancelRequest" class="btn btn-default">취소</a>
    </form>
</div>

