<div class="table-responsive">
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    
      <div class="title-web" style="margin-right:10px;">
        <h3>문의/건의하기</h3>
        <p>업데이트 되었으면 하는 제품, 개선되었으면 하는 점 등 자유롭게 의견을 남겨주세요. </p>
      </div>
        
      <hr style="border: 2px solid #38393b">
      <br>
      
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="padding:0px;">
        <form action="/home/request_write_ok" method="post">
          <div class="form-group">
            <label for="exampleInputTitle">제목</label>
            <input type="text" name="title" class="form-control" id="exampleInputTitle" placeholder="제목">
          </div>
          <div class="form-group">
            <label for="exampleInputContent">내용</label>
            <textarea name="content" class="form-control" rows="5"></textarea>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="secret" id="secret" value="Y"> 비밀글
            </label>
          </div>
          <div class="form-group form-inline">
            <label for="exampleInputPassword1">비밀번호</label>
            <input type="password" name="password" id="secretNum" class="form-control" id="exampleInputPassword1" placeholder="비밀번호" disabled>
          </div>
          
          <button type="submit" class="btn btn-default">등록</button>
          <a href="/home/request_list" id="btnCancelRequest" class="btn btn-default">취소</a>
        </form>
      </div>
    
    </div>
  </div>
</div>

<script>
  $(function(){
  	$("#secret").change(function(){
  		if($("#secret").is(":checked")){
  			document.getElementById("secretNum").disabled = false;
  		}else{
  			document.getElementById("secretNum").disabled = true;
  		}
  	});
  });
</script>

<style>
    .table-responsive{
      overflow-x: hidden;
    }
    .container-fluid{
      margin-top:30px;
    }
    table a {
      color:#000000;
    }
    table a:hover{

      text-decoration:none;
      color:#ffa291;
    }
    table a:active{
      text-decoration:none;
      color:#ffa291;
    }
    .btn-black{
      width:60px;
      height:30px;
      font-size:13px;
      text-align:center;
      float:right;
      cursor:pointer;
      color:#ffffff;
      background:#333333;
    }
    .btn-black:hover{
      color:#ffffff;
    }
    .title-web h3 {
      font-family: 'NanumGothic';
      font-size: 22px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      color: #38393b;
    }
    .title-web p{
      font-family: NanumGothic;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: #787878;
    }


    @media(min-width:767px) {

      .container-fluid{
        margin-top:50px;
      }
    }

  </style>
