<form action="/home/userseason_update" method="post" enctype="multipart/form-data">
    <div class="container">    
        <!--봄-->
        <div class="row col-md-3 col-xs-12">
          <div class="col-md-12 col-xs-1" style="text-align:center;"><label class="radio-inline"><input type="radio" name="optradio" value="봄" id="myCheck"></label><br><br></div>
          <div class="col-md-12 col-xs-3"><img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/봄.png" style="width:100%"><br>
          <p>봄(warm)</p></div>
          <div class="col-md-12 col-xs-7">봄 타입은 귀엽고 사랑스러운 매력을 갖고 있습니다. 활발하고 동적인 원색이 잘 어울립니다. 세부톤으로는 비비드, 브라이트, 스트롱 등이 있습니다.</div>
        </div>
        
        
        <!--여름-->
        <div class="row col-md-3 col-xs-12">
          <div class="col-md-12 col-xs-1" style="text-align:center;"><label class="radio-inline"><input type="radio" name="optradio" value="여름"></label><br><br></div>
          <div class="col-md-12 col-xs-3"><img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/여름.png" style="width:100%"><br>
          <p>여름(cool)</p></div>
          <div class="col-md-12 col-xs-7">여름 타입은 로맨틱하며 내츄럴한 매력을 갖고 있습니다. 명도가 높은 밝은 색이 잘 어울립니다. 세부톤으로는 라이트, 페일, 라이트그레이시 등이 있습니다.</div><br>
        </div>
       
        
        <!--가을-->
        <div class="row col-md-3 col-xs-12">
          <div class="col-md-12 col-xs-1" style="text-align:center;"><label class="radio-inline"><input type="radio" name="optradio" value="가을"></label><br><br></div>
          <div class="col-md-12 col-xs-3"><img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/가을.png" style="width:100%"><br>
          <p>가을(warm)</p></div>
          <div class="col-md-12 col-xs-7">가을 타입은 성숙하고 엘레강스한 매력을 갖고 있습니다. 갈색을 중심으로 깊이감이 느껴지는 톤이 잘 어울립니다. 세부톤으로는 스토롱, 딥, 덜 등이 있습니다.</div><br>
        </div>
        
        
        <!--겨울-->
        <div class="row col-md-3 col-xs-12">
          <div class="col-md-12 col-xs-1" style="text-align:center;"><label class="radio-inline"><input type="radio" name="optradio" value="겨울"></label><br><br></div>
          <div class="col-md-12 col-xs-3"><img src="https://s3.ap-northeast-2.amazonaws.com/likelion1111/uploads/겨울.png" style="width:100%"><br>
          <p>겨울(cool)</p></div>
          <div class="col-md-12 col-xs-7">겨울 타입은 도시적이며 시크한 매력을 갖고 있습니다. 채도가 높은 선명한 색이 잘 어울립니다. 세부톤으로는 비비드, 페일, 다크 등이 있습니다.</div><br>
        </div>
        
        <div class="row col-md-12 col-xs-12" style="text-align:center;">
          <br>
            <button type="submit" class="seasons updateseason" style="width:30%; margin-top:5% position:center;">수정하기
            </button>
        </div>
    </div>
</form>
    
<style>
  .seasons{width:40%; height:40px; border-radius:8px; background-color:CornflowerBlue; color:white; text-align:center; font-size:15px;}
</style>


<script>
  $(".updateseason").click(function(){
        userseason : $("input[name=optradio]:checked").val();
        //alert("<%=current_user.username%>님의 계절타입이 ["+$("input[name=optradio]:checked").val()+"]로 변경되었습니다!")
        $.ajax({
          method:"POST",
          url:"home/userseason_update"
          data: { userseason : userseason }
        })
       
    });
    
    
</script>