
<div class="row" style="margin-top:400px">




<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="row" style="background-color:black; height:100px">
    <!-- Brand and toggle get grouped for better mobile display -->
     
     



      <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
      <div class="col-xs-6 col-sm-3">
        <a class="navbar-brand" href="#"><img alt="설치" src="/images/logo.png" width="190" height="80"></a>
      </div>
    
          
        </div>
    

      


    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" style="margin-top:15px" placeholder="검색창에 원하는 상품을 검색해보세요">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button" style="margin-top:15px"><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
            
            
        <div class="col-md-4">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">콘텐츠</a></li> 
            <li><a href="#">시즌톡</a></li> 
            <li><a href="#">로그인</a></li> 
            <li><a href="#">마이페이지</a></li>
          </ul>
        </div>  
          
        </div><!-- /.navbar-collapse -->
      </div>
    
    </div>
  </div><!-- /.container-fluid -->
</nav>

</div>


</div>



