




<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <span class="gLeft" style="float:left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </span>
              
              <span class="gCenter" style="float:center">
                <a class="navbar-brand" href="">logo</a>
              </span>
              
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">로그인</a>
                    </li>
                    <li>
                        <a href="services.html">시즌톡</a>
                    </li>
                    <li>
                        <a href="contact.html">콘텐츠</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">카테고리 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Warm</li>
                              <li>
                                  <a href="layout4">립</a>
                              </li>
                              <li>
                                  <a href="layout4">섀도우</a>
                              </li>
                            <li class="dropdown-header">Cool</li>
                              <li>
                                  <a href="layout4">립</a>
                              </li>
                              <li>
                                  <a href="layout4">섀도우</a>
                              </li>
                        </ul>
                    </li>
                   
                </ul>
                
                
                
                
            </div>
            <!-- /.navbar-collapse -->
            
            
            
        </div>
        <!-- /.container -->
    </nav>

