
 <div class="container">
          <div class="row" style="margin-top:30px">
          	   <div class="col-md-12 col-xs-12">
                    

                    
                    <div class="form-group">
                      <textarea class="form-control" rows="8" id="comment" placeholder="후기를 작성해주세요!"></textarea>
                    </div>
                    
                    <br>
                    
                    <div class="form-group">
                        <input type="file" id="exampleInputFile">
                    </div>
                    
                    <div class="">
                      <img src="http://mblogthumb4.phinf.naver.net/20160403_295/milsi0502_1459668361752NjK4J_JPEG/SAM_5182.JPG?type=w2"
                      width="150px">
                    </div>
               
               </div>
          </div>
 </div>