/* 나눔 고딕 글꼴 */

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../font/NanumGothic-Regular.eot');
    src: url('../font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumGothic-Regular.woff2') format('woff2'),
    url('../font/NanumGothic-Regular.woff') format('woff'),
    url('../font/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../font/NanumGothic-Bold.eot');
    src: url('../font/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumGothic-Bold.woff2') format('woff2'),
    url('../font/NanumGothic-Bold.woff') format('woff'),
    url('../font/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: url('../font/NanumGothic-ExtraBold.eot');
    src: url('../font/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumGothic-ExtraBold.woff2') format('woff2'),
    url('../font/NanumGothic-ExtraBold.woff') format('woff'),
    url('../font/NanumGothic-ExtraBold.ttf') format('truetype');
}

/* 나눔 바른고딕 글꼴 */

@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 400;
    src: url("../font/NanumBarunGothic-Regular.eot");
    src: url("../font/NanumBarunGothic-Regular.eot?#iefix") format('embedded-opentype'),
    url("../font/NanumBarunGothic-Regular.woff") format('woff'),
    url("../font/NanumBarunGothic-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Nanum Barun Gothic Bold';
    font-style: normal;
    font-weight: 700;
    src: url("../font/NanumBarunGothic-Bold.eot");
    src: url("../font/NanumBarunGothic-Bold.eot?#iefix") format('embedded-opentype'),
    url("../font/NanumBarunGothic-Bold.woff") format('woff'),
    url("../font/NanumBarunGothic-Bold.ttf") format('truetype')
}

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    src: url('../font/BebasNeue Regular.woff'), url('../font/BebasNeue Regular.woff') format('woff');
}

@font-face {
    font-family: 'Impacted';
    font-style: normal;
    font-weight: normal;
    src: url('../font/IMPACTED.woff'), url('../font/IMPACTED.woff') format('woff');
}
