<form method="get" class="brand-filter" style="margin-bottom:25px">
      <select class="form-control brand-select" name="brand" id="ddrp1"  onclick="ga('send', 'event', 'brand_filter', 'click', 'brand_filter_click',1);">
        <option value="">원하시는 브랜드를 선택해주세요</option>
        <option value="나스">나스</option>
        <option value="네이처리퍼블릭">네이처리퍼블릭</option>
        <option value="더샘">더샘</option>
        <option value="더페이스샵">더페이스샵</option>
        <option value="디올">디올</option>
        <option value="랑콤">랑콤</option>
        <option value="레브론">레브론</option>
        <option value="로레알">로레알</option>
        <option value="마몽드">마몽드</option>
        <option value="맥">맥</option>
        <option value="미샤">미샤</option>
        <option value="바닐라코">바닐라코</option>
        <option value="바비브라운">바비브라운</option>
        <option value="베네피트">베네피트</option>
        <option value="삐아">삐아</option>
        <option value="샤넬">샤넬</option>
        <option value="아리따움">아리따움</option>
        <option value="아이오페">아이오페</option>
        <option value="어퓨">어퓨</option>
        <option value="에뛰드하우스">에뛰드하우스</option>
        <option value="웨이크메이크">웨이크메이크</option>
        <option value="이니스프리">이니스프리</option>
        <option value="입생로랑">입생로랑</option>
        <option value="토니모리">토니모리</option>
        <option value="투쿨포스쿨">투쿨포스쿨</option>
        <option value="페리페라">페리페라</option>
        <option value="홀리카홀리카">홀리카홀리카</option>
      </select>        
</form>          