<!-- Footer -->
<footer>
    <div class="row">
        <div style="background-color:black; height:70px" class="col-lg-12">
            <p style="text-align:center; margin-top:25px; color:white">Copyright &copy; 멋쟁이사자처럼4기:최영진,송성호,김예현,김현희 2016</p>
        </div>
    </div>
</footer>

   