<!-- Footer -->
<footer>
      <h3>Copyright &copy; Palett. All right reserved.</h3>
      
      <ul>
        <li>
           <a class="fa fa-facebook" href="https://www.facebook.com/palettpage/"></a>
        </li>
        <li>
           <a class="fa fa-instagram" href="https://www.instagram.com/palett_official/"></a>
        </li>
      </ul>
      
      <i class="fa fa-envelope" aria-hidden="true"></i><p>contact@palett.co.kr</p>    
</footer>




   