<!-- Footer -->
<footer>
    <!--
    <ul>
        <li>
           <a href="https://www.facebook.com/palettpage/">
               <img src="/images/icon_facebook.png" alt="페이스북 바로가기" class="icon_facebook">
           </a>
        </li>
        <li>
           <a href="https://www.instagram.com/palett_official/">
               <img src="/images/icon_instagram.png" alt="인스타그램 바로가기" class="icon_instagram">
           </a>
        </li>
    </ul>
      -->
      
    <p>이메일 contact@palett.co.kr</p>
    <br>
    <p>Copyright &copy; 2017 Palett All right reserved.</p>
    
<!--      
    <h3>Copyright &copy; Palett. All right reserved.</h3>
    <i class="fa fa-envelope" aria-hidden="true"></i><p>contact@palett.co.kr</p> 
-->
</footer>




   