<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <span class="gLeft" style="float:left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </span>
           
              <span class="gCenter" style="float:center">

                <a class="navbar-brand" href="/">logo</a>

              </span>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <div class="middle" style="margin-right:10px;">
                   
                            <input type="search" placeholder="원하는 상품을 검색해보세요" name="search" style="padding-right:100px;margin-right:100px" class="searchbox-input" onkeyup="buttonUp();" required>
                            <input type="text" class="searchbox-submit" action="search">
                            <span class="searchbox-icon"><span class="glyphicon glyphicon-search"></span></span>
                        
                        
                        
                        
                        </div>
                    </li>
                    
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">상품보기<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Warm</li>
                              <li>
                                  <a href="/home/layout4" style="text-indent:20px">립</a>
                              </li>
                              <li>
                                  <a href="/home/layout4" style="text-indent:20px">섀도우</a>
                              </li>
                            <li class="dropdown-header">Cool</li>
                              <li>
                                  <a href="/home/layout4" style="text-indent:20px">립</a>
                              </li>
                              <li>
                                  <a href="/home/layout4" style="text-indent:20px">섀도우</a>
                              </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">시즌톡</a>
                    </li>
                    <li>
                        <a href="#">콘텐츠</a>
                    </li>
                     <li>
                        <a href="#">로그인</a>
                    </li>

                </ul>
               
            </div>
            <!-- /.navbar-collapse1 -->
            
        </div>
        <!-- /.container -->
    </nav>