<header class="navbar navbar-fixed-top navbar-design">

  <h2 class="navbar-top">
    팔렛 내비게이션 바        
  </h2>

  <div class="container wrap_navbar">

      <a href="/">
      <span class="gCenter-mobile">
        <%= image_tag "/images/logo_beta_mobile.png", alt:"팔렛 로고"%>
      </span>
      <span class="gCenter" >
        <%= image_tag "/images/logo_beta_pc.png", alt:"팔렛 로고"%>
      </span>
      </a>

        <!--searhbar for PC navbar-->

        <form class="search-form"  action="/home/search" method="get" accept-charset="UTF-8">
            <input type="hidden" name="utf8" value="✓">
            <input type="search" placeholder="브랜드명 또는 제품명으로 검색해보세요."  name="search" class="searchbox-input">
            <button type="submit" class="searchbox-submit">
              <i class="fa fa-search fa-search-main" aria-hidden="true"></i>
            </button>
        </form>


        <!--search for Mobile navbar-->

        <form class="search-form-mobile col-xs-6" id="search-form"  action="/home/search" method="get" accept-charset="UTF-8">
          <input type="hidden" name="utf8" value="✓">
          <input type="search" placeholder="궁금한 립스틱을 검색해봐!" id="search" name="search" class="searchbox-input searchbox-input-mobile">
        </form>

        <div class="navbar-header navbar-icon">
          <span class="gLeft">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </span>
        </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-color" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <!-- li class="hidden-web"으로 하면 분홍색 navbar에 위치-->

        <!-- dropdown for Desktop-->
        <li class="dropdown">
          <a href="/#palett" class="quick_tab" onClick="return false;">팔렛 소개</a>
        </li>

        <!-- dropdown for Mobile-->
        <li class="dropdownM">
          <i class="fa fa-question-circle iconForMobile" aria-hidden="true"></i>
          <a class="quick_tabM" href="/#palett" onClick="return false;">팔렛 소개</a>
        </li>

        <li>
          <i class="fa fa-star iconForMobile" aria-hidden="true"></i>
          <a href="/home/list_lip2/봄 브라이트">립 추천</a>
        </li>
        


         <li>
           <i class="fa fa-bullhorn iconForMobile" aria-hidden="true"></i>
            <a href="/home/notice">새 소식
              <%if Notice.exists? && Notice.last.created_at + 3.day>Time.current%>
                  <span class="badge badge_notice">New</span>
              <%end%>
            </a>
        </li> 

        <li>
          <% if user_signed_in? && current_user.admin == nil%>
              <i class="fa fa-envelope-o iconForMobile" aria-hidden="true"></i>
              <a href="/home/request_list">문의/건의</a>
          <% elsif user_signed_in? && current_user.admin?%>
              <a href="/adminadmin">Admin</a>
          <% else %>
              <i class="fa fa-envelope-o iconForMobile" aria-hidden="true"></i>
              <a href="/home/request_list">문의/건의</a>
          <% end %>
        </li>
        
        <li>
          <% if user_signed_in? %>
            <i class="fa fa-user iconForMobile" aria-hidden="true"></i>
            <%= link_to "마이페이지", href="/basket" %>
          <% else %>
            <i class="fa fa-sign-in iconForMobile" aria-hidden="true"></i> 
            <%= link_to "로그인", new_user_session_path %>
          <% end %>
        </li>
        

        <!-- 햄버거 버튼 닫는 버튼 -->
        <li class='hidden-web' id="toggle_close">
          <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">▲</button>
        </li>


      </ul>
    </div>
    <!-- /.navbar-collapse1 -->
  </div>
  <!-- /.container -->
</header>
  <!--/.header-->


    
<script>
$(document).ready(function(){

    //팔렛 소개 anchoring
    
    $(".quick_tab").click(function(){
      var currentId = $(this).attr('href');
      window.location = currentId;
    });

    //drop down for Mobile
    $(".quick_tabM").click(function(){
      var currentId = $(this).attr('href');
      window.location = currentId;
    });
    

});
  
</script>