<header class="navbar navbar-fixed-top navbar-design">

  <h2 class="navbar-top">
    팔렛 내비게이션 바        
  </h2>

  <div class="container wrap_navbar">

      <a href="/">
      <span class="gCenter-mobile">
        <%= image_tag "/images/logo_beta_mobile.png", alt:"팔렛 로고"%>
      </span>
      <span class="gCenter" >
        <%= image_tag "/images/logo_beta_pc.png", alt:"팔렛 로고"%>
      </span>
      </a>

        <!--searhbar for PC navbar-->

        <form class="search-form"  action="/home/search" method="get" accept-charset="UTF-8">
            <input type="hidden" name="utf8" value="✓">
            <input type="search" placeholder="브랜드명 또는 제품명으로 검색해보세요."  name="search" class="searchbox-input">
            <button type="submit" class="searchbox-submit">
              <i class="fa fa-search fa-search-main" aria-hidden="true"></i>
            </button>
        </form>


        <!--search for Mobile navbar-->

        <form class="search-form-mobile col-xs-6" id="search-form"  action="/home/search" method="get" accept-charset="UTF-8">
          <input type="hidden" name="utf8" value="✓">
          <input type="search" placeholder="내 립스틱은 무슨 톤 ?" id="search" name="search" class="searchbox-input searchbox-input-mobile">
        </form>

        <div class="navbar-header navbar-icon">
          <span class="gLeft">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </span>
        </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-color" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <!-- li class="hidden-web"으로 하면 분홍색 navbar에 위치-->

        <!-- dropdown for Desktop-->
        <li class="dropdown">
          <a href="#" class="dropbtn" onclick="return false;">팔렛 소개</a>
            <div class="dropdown-content">
              <a href="/#story" class="quick_tab" onClick="return false;">팔렛 스토리</a>
              <a href="/#howto" class="quick_tab" onClick="return false;">이용방법</a>
           
            </div>
        </li>

        <!-- dropdown for Mobile-->
        <li class="dropdownM">
          <i class="fa fa-question-circle iconForMobile" aria-hidden="true"></i>
          <a href="#" class="dropdown-toggle dropbtnM" data-toggle="dropdown">팔렛 소개<b class="caret"></b></a>
          <ul class="dropdown-menu dropdown-contentM">
            <li>
              <a class="quick_tabM" href="/#story" onClick="return false;" >팔렛 스토리</a>
            </li>

            <li>
              <a class="quick_tabM" href="/#howto"  onClick="return false;" >이용방법</a>
            </li>


           </ul>
        </li>

        <li>
          <i class="fa fa-star iconForMobile" aria-hidden="true"></i>
          <a href="/home/list_lip2/봄 브라이트">립 추천</a>
        </li>
        


         <li>
           <i class="fa fa-bullhorn iconForMobile" aria-hidden="true"></i>
            <a href="/home/notice">새 소식
              <%if Notice.exists? && Notice.last.created_at + 3.day>Time.current%>
                  <span class="badge badge_notice">New</span>
              <%end%>
            </a>
        </li> 

        <li>
          <% if user_signed_in? && current_user.admin == nil%>
              <i class="fa fa-envelope-o iconForMobile" aria-hidden="true"></i>
              <a href="/home/request_list">문의/건의</a>
          <% elsif user_signed_in? && current_user.admin?%>
              <a href="/adminadmin">Admin</a>
          <% else %>
              <i class="fa fa-envelope-o iconForMobile" aria-hidden="true"></i>
              <a href="/home/request_list">문의/건의</a>
          <% end %>
        </li>
        
        <li>
          <% if user_signed_in? %>
            <i class="fa fa-user iconForMobile" aria-hidden="true"></i>
            <%= link_to "마이팔레트", href="/basket" %>
          <% else %>
            <i class="fa fa-sign-in iconForMobile" aria-hidden="true"></i> 
            <%= link_to "로그인", new_user_session_path %>
          <% end %>
        </li>
        

        <!-- 햄버거 버튼 닫는 버튼 -->
        <li class='hidden-web' id="toggle_close">▲</li>


      </ul>
    </div>
    <!-- /.navbar-collapse1 -->
  </div>
  <!-- /.container -->
</header>
  <!--/.header-->


    
<script>
  $(document).ready(function(){

    //메뉴바 toggling
   
    // Close when clicking on outside the menu (actually, every document)
   
     $(".navbar-toggle").click(function(){
      $("#bs-example-navbar-collapse-1").toggle();
    });
    
    // Close after clicking on close button

    $('#toggle_close').on('click', function(){
        $("#bs-example-navbar-collapse-1").hide();
    });
  
    
    

    //검색창
    var submitIcon = $('.searchbox-icon');
    var inputBox = $('.searchbox-input');
    var searchBox = $('.searchbox');
    var isOpen = true;
    submitIcon.click(function(){
      if(isOpen == false){
        searchBox.addClass('searchbox-open');
        inputBox.focus();
        isOpen = true;
      } else {
        searchBox.removeClass('searchbox-open');
        inputBox.focusout();
        isOpen = false;
      }
    });  
    submitIcon.mouseup(function(){
        return false;
    });
    searchBox.mouseup(function(){
        return false;
    });
    $(document).mouseup(function(){
      if(isOpen == true){
        $('.searchbox-icon').css('display','block');
          submitIcon.click();
      }
    });

    //page navigation scrolling

    $(".quick_tab").click(function(){
      var currentId = $(this).attr('href');
      window.location = currentId;

    });

    //drop down for Mobile
    $(".quick_tabM").click(function(){
      var currentId = $(this).attr('href');
      window.location = currentId;
      $("#bs-example-navbar-collapse-1").toggle();

    });

  });
  
  function buttonUp(){
    var inputVal = $('.searchbox-input').val();
    inputVal = $.trim(inputVal).length;
    if( inputVal !== 0){
      $('.searchbox-icon').css('display','none');
    } else {
      $('.searchbox-input').val('');
      $('.searchbox-icon').css('display','block');
    }
  }

</script>